<div class="well">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <% if user.profile_pic? %>
          <%= image_tag user.profile_pic.url, class:"thumbnail-image" %>
        <% else %>
          <%= image_tag("profile-pic-blank.jpg", class:"thumbnail-image") %>
        <% end %>
        <% if current_user?(user) %>
          <%= link_to "change profile pic", edit_user_registration_url %>
        <% end %>
      </div>

      <div class="col-xs-6">
        <h3><%= user.firstname + " " + user.surname %></h3> <br/>
        <%= link_to "View Profile", user %>
      </div>
    </div>
  </div>
</div>
