<div class="well comment-well">

  <blockquote class="blockquote">
    <p><%= comment.body %></p>
    <footer> posted <%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago,
                 by <%= link_to(comment.user.firstname + " " + comment.user.surname, comment.user) %>
                 <% if comment.user.profile_pic? %>
                   <%= image_tag comment.user.profile_pic.url, class:"thumbnail-min" %>
                 <% else %>
                   <%= image_tag("profile-pic-blank.jpg", class:"thumbnail-min") %>
                 <% end %> </footer>
     <p>  likes - <%= comment.likes.count %> </p>
  </blockquote>

  <% if comment.likes.where(user_id: current_user.id, liked_type: "Comment").exists? %>
  <% @own_like = comment.likes.where(user_id: current_user.id, liked_type: "Comment") %>
   <%= link_to "Unlike", like_path(@own_like.ids), method: :delete %>
  <% else %>
   <%= form_for(current_user.likes.build) do |f| %>
     <%= hidden_field_tag :liked_id, comment.id %>
     <%= hidden_field_tag :liked_type, "Comment" %>
     <%= f.submit "Like" %>
   <% end %>
   <%end%>




  <% if current_user?(comment.user) %>
    <%= link_to "delete", comment, method: :delete %>
  <% else %>
  <a class='reply-link'> reply </a>
  <% end %>

  <%= form_for @comment, html: {class:"form-inline reply-form"} do |f| %>
    <%= f.hidden_field :commentable_id, value: comment.id %>
    <%= f.hidden_field :commentable_type, value: comment.class.name %>
      <div class="form-group">
        <%= f.text_field :body %>
      </div>
      <div class="form-group">
        <%= f.submit "reply"%>
        <% end %>
      </div>

      <% if !comment.comments.nil? %>
        <% comment.comments.each do |c| %>
          <%= render partial: "shared/comment", locals: {comment: c} %>
        <% end %>
      <% end %>

</div>
