<div class="well comment-well">

  <blockquote class="blockquote">
    <p><%= comment.body %></p>
    <footer> posted <%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago,
                 by <%= link_to(comment.user.firstname + " " + comment.user.surname, comment.user) %>
                 <% if comment.user.profile_pic? %>
                   <%= image_tag comment.user.profile_pic.url, class:"thumbnail-min" %>
                 <% else %>
                   <%= image_tag("profile-pic-blank.jpg", class:"thumbnail-min") %>
                 <% end %> </footer>
  </blockquote>

  <% if current_user?(comment.user) %>
    <%= link_to "delete", comment, method: :delete %>
  <% else %>
  <a class='reply-link'> reply </a>
  <% end %>

  <%= form_for @comment, html: {class:"form-inline reply-form"} do |f| %>
    <%= f.hidden_field :commentable_id, value: comment.id %>
    <%= f.hidden_field :commentable_type, value: comment.class.name %>
      <div class="form-group">
        <%= f.text_field :body %>
      </div>
      <div class="form-group">
        <%= f.submit "reply"%>
        <% end %>
      </div>

      <% if !comment.comments.nil? %>
        <% comment.comments.each do |c| %>
          <%= render partial: "shared/comment", locals: {comment: c} %>
        <% end %>
      <% end %>

</div>
